.card-1 h1 {
  /* Style for card 1 (your box model example */
  color: gray;
  margin-left: 8in;
  margin-right: 8in;
  margin-top: 8in;
  margin-bottom: 8in;
}
.card-1 .card-front {
  background-color: DarkGreen;
  color: golden;
  padding-bottom: 2.1in;
}
.card-1 .card-back {
  background-color: DarkRed;
  color: goldenrod;
  border-left: 7px solid;
  border-right: 7px solid;
  border-top: 7px solid gold;
  border-bottom: 7px solid gold;
  border-width: 12px;
}
.card-1 .card-back img {
  display: inline-block;
  width: 1.9in;
  margin-left: 10px;
  margin-right: 10px;
}

.card-1 .card-back p {
  text-align: center;
  font-style: Bold Italic;
  font-weight: 400;
  margin: auto;
  padding-top: 5px;
  font-family: Borel;
}
.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.card-info {
  display: inline-block;
  text-align: end;
  font-size: 13px;
  font-weight: 600;
  width: 10px;
  margin-left: 10px;
  margin-bottom: 39px;
}
