.card-1 h1 {
  /* Style for card 1 (your box model example */
  color: gray;
  margin-left: 8in;
  margin-right: 8in;
  margin-top: 8in;
  margin-bottom: 8in;
}
.card-1 .card-front {
  background-color: DarkGreen;
  color: golden;
  padding-bottom: 2.1in;
}
.card-1 .card-back {
  background-color: DarkRed;
  color: goldenrod;
  border-left: 7px solid;
  border-right: 7px solid;
  border-top: 7px solid gold;
  border-bottom: 7px solid gold;
  border-width: 12px;
}
.card-1 .card-back img {
  display: inline-block;
  width: 2in;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 122px;
  margin-bottom: 6px;
}

.card-1 .card-back p {
  text-align: center;
  font-style: italic;
  font-weight: 800;
  margin: auto;
  padding-top: 7px;
  font-family: Borel;
}
.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}
.card-1 img {
  display: inline-block;

}
.card-info {
  display: inline-block;
  text-align: end;
  font-size: medium;
  font-style: italic;
  font-weight: 400;
 width:15px;
  margin-left: 10px;
}
